<agm-map [styles]="styles" (mapReady)="onMapReady($event)" [fitBounds]="bounds">
  <agm-polyline [strokeColor]="'red'" *ngFor="let trip of trips">
      <agm-polyline-point *ngFor="let p of trip.path" [latitude]="p.lat" [longitude]="p.lng"></agm-polyline-point>
  </agm-polyline>

  <agm-polyline [strokeColor]="'white'" *ngFor="let trip of trips; let i = index">
    <agm-polyline-point *ngFor="let p of finishedPaths[i]" [latitude]="p.lat" [longitude]="p.lng"></agm-polyline-point>
  </agm-polyline>
</agm-map>

<input type="range" min="0.0" max="1.0" step="0.1" [(ngModel)]="percent" (ngModelChange)="updateMap()">
