@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html, body {
    height: 100%;
}

body {
    background-color: #000000;
    padding: 20px;
    margin: 0;
}

* {
    font-family: "Open Sans";
    box-sizing: border-box;
}

input {
    outline: none;
}

.sidebar {
    width: 260px;
    float: left;
    padding-right: 20px;
}

.logo {
    font-weight: 100;
    font-size: 36px;
    color: #88FF00;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
    padding: 0;
}

trips-list {
    display: block;
}

app-map {
    display: block;
    background: #000;
    height: 100%;
}