@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body {
    background-color: #000000;
    margin: 20px;
}

* {
    font-family: "Open Sans";
    box-sizing: border-box;
}

input {
    outline: none;
}

.logo {
    font-weight: 100;
    font-size: 36px;
    color: #88FF00;
    letter-spacing: 1px;
    margin: 20px 0;
    padding: 0;
}

trips-list {
    display: block;
    width: 260px;
    float: left;
}