<div class="trip" *ngFor="let trip of tripService.trips" >
    <div class="locations">
        <span class="start">{{trip.start.query}}</span>
        <span class="end">{{trip.end.query}}</span>
    </div>
    <div class="progress-bar">
        <div class="complete" style="width: 50%"></div>
    </div>
    <div class="distance">
        <span class="progress">268</span> / <span class="total">{{trip.totalDistance | formatDistance}}</span>km
    </div>

    <div class="actions">
        <input type="text" placeholder="distance">
        <button class="primary log-button">Log</button>
        <button class="secondary delete-button" (click)="delete(trip)">X</button>
    </div>
</div>