<div class="trip current">
    <div class="locations">
        <span class="start">Edinburgh</span>
        <span class="end">Glasgow</span>
    </div>
    <div class="progress-bar">
        <div class="complete" style="width: 50%"></div>
    </div>
    <div class="distance">
        <span class="progress">268</span> / <span class="total">1219</span>km
    </div>

    <div class="actions">
        <input type="text" placeholder="distance">
        <button class="log-button">Log</button>
        <button class="delete-button">X</button>
    </div>
</div>

<div class="trip">
        <div class="locations">
            <span class="start">Calgary</span>
            <span class="end">Edmonton</span>
        </div>
        <div class="progress-bar">
            <div class="complete" style="width: 50%"></div>
        </div>
        <div class="distance">
            <span class="progress">268</span> / <span class="total">1219</span>km
        </div>
    
        <div class="actions">
            <input type="text" placeholder="distance">
            <button class="log-button">Log</button>
            <button class="delete-button">X</button>
        </div>
    </div>