.trip {
    margin-bottom: 24px;
    border-left: 3px solid transparent;
    transition: border-color 0.15s;
    padding-left: 24px;
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }

    &.current, &:hover {
        border-left-color: #88FF00;
    }

    .locations {
        font-size: 17px;
        color: #fff;

        .start {
            &:after {
                content: ' to';
                color: #585858;
            }
        }
    }

    .progress-bar {
        margin: 9px 0 6px 0;
        width: 100%;
        height: 3px;
        background: #585858;

        .complete {
            height: 3px;
            float: left;
            background: #88FF00;
            transition: width 0.15s;
        }
    }

    .distance {
        font-size: 24px;
        font-weight: 500;
        color: #585858;

        .progress, .total {
            color: #fff;
        }
    }

    .actions {
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: height 0.15s 0.2s, opacity 0.15s, margin 0.15s 0.2s;

        input, button {
            height: 30px;
            float: left;
        }
        
        input {
            float: left;
            margin-right: 10px;
            width: 100px;
        }

        button {
            &.log-button {
                float: left;
            }

            &.delete-button {
                float: right;
            }
        }
    }

    &:hover {
        .actions {
            height: 30px;
            margin-top: 10px;
            opacity: 1;
            transition: height 0.15s, opacity 0.15s 0.2s, margin 0.15s;
        }
    }
}